################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lab3/out/build/x64-Debug
/Lab3/.vs
/Lab4/.vs
/Lab4/out/build/x64-Debug
/Lab2
